* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --subheader-font-size: max(1.5vw, 1rem);
}

body {
  background: hsla(200, 75%, 75%, 1);
}

.App {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  font-size: min(5vw, 2em);
}

.App > div {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

@media screen and (min-width: 500px) {
  .App > div {
    flex-direction: row;
    align-items: flex-start;
    gap: 2vw;
  }  
}