.TodoList {
  background: hsla(175, 50%, 50%, 0.9);
  border: medium solid hsla(10, 80%, 5%, 0.75);
  border-radius: 2vw;
  height: clamp(30rem, 75vh, 37rem);
  width: clamp(15rem, 90vw, 25rem);
  padding: 1vw;
  text-align: center;
  overflow: auto;
}

.TodoList li {
  padding: max(1vw, 0.5rem);
}

.TodoList button {
  border-radius: 5vw;
  margin: 0.5rem;
  padding: max(0.5vw, 0.25rem) max(1vw, 0.75rem);
  font-size: 1rem;
}