.Todo {
  background: hsla(125, 40%, 30%, 0.5);
  border: thin solid black;
  border-radius: 2vw;
  padding: 0.5vw 1vw;
  
  color: hsla(90, 85%, 80%, 0.9);
  font-size: 1.75vw;
  text-align: left;
}

.Todo span {
  margin-left: 0.5vw;
}

.Todo input:checked + span {
  text-decoration: line-through;
  opacity: 50%;
  color: lightgray;
}